.top {
  display: flex;
}

.titled-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.truth-table {
  width: 220px;
}

td,
th {
  text-align: center;
}

.output-cell {
  padding: 0px !important;
  vertical-align: middle !important;
}

.first-output-cell {
  &:extend(.output-cell);
  border-left-width: 2px !important;
}

.link-button {
  cursor: pointer;
}

.weight-table {
  width: 160px;
}

.output-weight-table {
  width: 200px;
}

.recurrent-weight-table {
  width: 220px;
}

.recurrent-results {
  width: 220px;
}

.error {
  color: Red;
}

.pattern {
  display: flex;
  padding-bottom: 20px;
}

.pattern-element {
  width: 16px;
  height: 16px;
  border: solid LightGray;
  border-width: 1px 1px 1px 0px;
  cursor: pointer;

  &:first-child {
    border-left-width: 1px;
  }

  &.active {
    background: black;
  }
}

.prediction {
  padding-top: 30px;
}

.spaced-icon {
  padding-left: 5px;
}

.loss {
  padding-top: 20px;
}

.running-toggle {
  margin-top: 20px;
}

.nearest-neighbor-resize() {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.states {
  .nearest-neighbor-resize();
  width: 66px;
  height: 66px;
  border: 1px solid black;
}

.visualizer {
  .nearest-neighbor-resize();
  width: 66px;
  height: 8px;
  border: 1px solid black;
}
