@import (less) 'bootswatch/dist/darkly/bootstrap.css';

.loading-small {
  width: 24px;
  height: 24px;
  position: static;
  align-self: center;
  margin-right: 10px;
  transform: scale(0.5, 0.5) translate(-50%, -50%);
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// fixes for Bootstrap/theme
a.nav-link {
  cursor: pointer;
  .unselectable();
}
.modal-content .nav-link.active {
  background-color: #303030;
}
.close:disabled {
  opacity: 0.25;
}
a.navbar-brand {
  cursor: pointer;
  .unselectable();
  &:hover,
  &:focus {
    color: #00bc8c !important;
  }
}
.svg-inline--fa {
  vertical-align: -0.125em !important;
}

.tab-content {
  padding-top: 10px;
}

.login-or {
  padding: 15px 0px 2px;
}

.request-error {
  padding-top: 15px;
}

.fb-login-button {
  margin-left: 10px;
  width: 236px;
  height: 40px;
}

.interface {
  position: absolute;
  top: 52px;
}

.full-interface {
  position: fixed;
  top: 52px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.menu-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 6px 12px;
}

.user-icon {
  margin-right: 10px;
}

.submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortcut {
  color: #999;
}

.new-page {
  font-size: 1.40625rem;
  line-height: 1;
  transform: translate(0px, -1px);
  padding-left: 15px;
  padding-right: 15px;
}

.remove-page {
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  background-color: transparent !important;
}

.page-reorder-target {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0px;

  &.visible {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><rect x="19" y="0" width="2" height="40" fill="white" /></svg>');
  }
  &.before {
    left: -20px;
  }
  &.after {
    right: -20px;
  }
}

.left-column {
  width: 250px;
}

.bg-black {
  background-color: #000;
}

.play-controls {
  height: 48px;
  & .btn {
    color: #fff;
    &:hover {
      color: #00bc8c;
    }
  }
}

.tool-grid > .btn-group {
  display: block;

  & .btn {
    height: 45px;
  }
  &:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:not(:last-child) > .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.tool-grid .btn,
.play-controls .btn {
  width: 45px;
  justify-content: center;
}
.tool-grid .temp-active {
  background-color: #2b4764;
  border-color: #28415b;
}

.play-indicator {
  position: absolute;
  left: 5px;
  top: 5px;
  border: 2px solid #e74c3c;
  border-radius: 2px;
}

.entity-tree {
  flex: 1;
  cursor: default;
  padding: 8px 8px 8px 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

.entity-expand-container {
  width: 16px;
}

.entity-expand {
  width: 16px;
  height: 16px;
  cursor: pointer;

  &:hover {
    color: #00bc8c;
  }

  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: 0.1em;
    content: '';
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
}

.entity-contract {
  width: 16px;
  height: 16px;
  cursor: pointer;

  &:hover {
    color: #00bc8c;
  }

  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

.entity-drag-hover {
  background-color: rgba(0, 188, 140, 0.5) !important;
}

.entity-reorder-target {
  height: 10px;
  width: 100%;
  position: absolute;

  &.visible {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="10"><rect x="0" y="4" width="100" height="2" fill="white" /></svg>');
  }
  &.before {
    top: -5px;
  }
  &.after {
    bottom: -5px;
  }
}

.right-column {
  width: 350px;
}

.component-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu-container {
}

.entity-editor {
  max-height: calc(100vh - 52px - 48px);
  overflow-y: auto;
  overflow-x: hidden;
}

.component-reorder-target {
  height: 16px;
  width: 100%;
  position: absolute;

  &.visible {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="16"><rect x="0" y="7" width="100" height="2" fill="white" /></svg>');
  }
  &.before {
    top: -17px;
  }
  &.after {
    bottom: -17px;
  }
}

.color-input {
  min-width: 0px;
}

.color-picker-button {
  line-height: 0em;
}

.link-button {
  color: #fff;
  &:hover {
    color: #00bc8c;
  }
}

.render-canvas {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.canvas-stats {
  position: absolute;
  left: 16px;
  top: 16px;
}

.canvas-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
}
