@import (less) 'bootswatch/dist/darkly/bootstrap.css';

.loading-small {
  flex: 1;
  width: 24px;
  height: 24px;
  position: static;
  transform: translate(-25%, -25%) scale(0.5, 0.5);
}

// fixes for Bootstrap/theme
a.nav-link {
  cursor: pointer;
}
.modal-content .nav-link.active {
  background-color: #303030;
}

.tab-content {
  padding-top: 10px;
}

.login-or {
  padding: 15px 0px 2px;
}

.request-error {
  padding-top: 15px;
}
